<!--
  Title: not-found.component.html
  Author: Erin Brady
  Description: Not Found component HTML
-->

<div class="container mt-5 text-center" style="min-height: 65vh">
  <div class="row">

    <!-- first column -->
    <div class="col-md-6">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bcd8fa76-852d-41d8-8689-0d47aa3c9c3c/d4ctgvr-b93aeae1-39c4-4b85-a616-398a8d6712eb.png/v1/fill/w_900,h_675,q_75,strp/remembrall_necklace_2_by_mrskupe-d4ctgvr.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9iY2Q4ZmE3Ni04NTJkLTQxZDgtODY4OS0wZDQ3YWEzYzljM2MvZDRjdGd2ci1iOTNhZWFlMS0zOWM0LTRiODUtYTYxNi0zOThhOGQ2NzEyZWIucG5nIiwid2lkdGgiOiI8PTkwMCIsImhlaWdodCI6Ijw9Njc1In1dXX0.pCm_KLMJgvOwZ4OWq16JraYunFV2ATh8W7iieROkR20" alt="A remembrall is a glass decorative orb at the end of a golden chain. The orb fills with red smoke when you've forgotten something." class="img-fluid rounded">
    </div>

    <!-- second column -->
    <div class="col-md-6 my-5">
      <h1 class="display-1">404</h1>
      <h2 class="display-4">Page Not found</h2>

      <p class="lead">
        The place you are trying to go does not exist. Please check the URL and try again.
      </p>

      <a routerLink="/" class="btn btn-outline-secondary">Go Home</a>
    </div>
  </div>
</div>
