/*
  Title: about.component.css
  Author: Erin Brady
  Date: 08/30/2023
  Description: Custom About styles
*/

.about {
  background-color: #e9ece5;
  border: 30px solid rgba(33, 37, 41, 1);
  padding: 50px;
}

ul {
  text-align: left;
}

hr {
  border: 1px dotted rgba(33, 37, 41, 1);
}
