<!--
  Title: about.component.html
  Author: Erin Brady
  Description: About Us component HTML
-->

<header class="container-fluid text-center about">
  <div class="container p-5">

    <h1 class="display-1">About Us</h1>

    <p class="lead">
      At NodeBucket, our mission is to enchant the Wizarding world with seamless task management. Crafted with the unwavering dedication and values of House Hufflepuff, our web application is designed to simplify the lives of witches and wizards. We believe in fostering a sense of unity and harmony in the magical community by providing a reliable and user-friendly platform for organizing tasks, assignments, and quests. Our goal is to empower every witch and wizard to unlock their full potential, promote productivity, and celebrate the joys of accomplishment. With NodeBucket, we aim to spread the Hufflepuff spirit of loyalty, diligence, and fairness throughout the Wizarding world, one completed task at a time.
    </p>

  </div>

  <div class="container my-5">

    <!-- First Row -->
    <div class="row">

      <!-- First column -->
      <div class="col-md-7">

        <h2 class="display-3">Task Management</h2>

        <p class="lead">
          NodeBucket is a task management application that allows users to create, view, and edit tasks. Users can also drag and drop tasks to change their status.
        </p>

        <p class="lead">
          Some of the feedback we have received includes:
        </p>
        <ul>
          <li>"It's like having a diligent house-elf by your side, helping you organize your tasks effortlessly. I couldn't be happier with it!"</li>
          <li>"I've never been more organized, and I owe it all to this fantastic app. A must-have for witches and wizards of all houses!"</li>
          <li>"I've tried many task management apps, but NodeBucket is truly magical!"</li>
        </ul>

      </div>

      <!-- Second column -->
      <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1554467856-dc70c4f9d1f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="Woman in Witch Hat reading book on green grass." class="img-fluid rounded">
      </div>

    </div>

    <hr class="my-5">

    <!-- Second Row -->
    <div class="row">

      <!-- First Column -->
      <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1588202449444-1cc59773fb6d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Person holding black iPhone in the wilderness." class="img-fluid rounded">
      </div>

      <!-- Second Column -->
      <div class="col-md-7">
        <h2 class="display-3">Mobile Accessibility</h2>
        <p class="lead">
          NodeBucket is available on both iOs and Android. There is no need to download the app from the App Store or Google Play. Our website is fully responsive, so it will work on any device!
        </p>
      </div>

    </div>

    <hr class="my-5">

    <!-- Third row -->
    <div class="row">
      <div class="col-md-12">

        <h2 class="display-3 text-center">Our Team</h2>

        <p class="lead text-center">
          Our team is comprised of the following members:
        </p>

      </div>
    </div>

    <!-- Fourth row -->
    <div class="row">

      <div class="col-md-7">
        <p class="lead">
          <strong>Aidan Scrollwright</strong> - Aidan is an expert web developer with over 30 years of experience in the field. He has a Master's Degree in Computer science from Hogwarts School of Witchcraft and Wizardry and is currently pursuing his PhD. Whether conjuring captivating user interfaces or enchanting back-end functionalities, Aidan's thorough attention to detail shines through in every line of code that he crafts. He has an impressive portfolio of magical web solutions that caters to both muggles and wizards alike, showcasing his versatility and adaptability.
        </p>
      </div>

      <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1652552338277-4723b2625108?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="A bearded gentleman standing at a table with an old clock and an antique mug." class="img-fluid rounded">
      </div>

    </div>

    <!-- Fifth row -->
    <div class="row my-5">

      <!-- First column -->
      <div class="col-md-7">
        <p class="lead">
          <strong>Lilli Codecharm</strong> - Lilli is a junior developer on the team. Having honed her skills through 3 years of hands-on experience, Lilli forged a career in web development that embodies the very essence of House Hufflepuff. She has consistently delivered user-friendly, aesthetically pleasing web solutions that bring a touch of magic to the online world.
        </p>
      </div>

      <!-- Second column -->
      <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1600437898039-a326c15b07e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80" alt="A woman in a black shirt with nose piercings and mythical symbols on her face." class="img-fluid rounded" style="height: 400px;">
      </div>
    </div>

    <!-- Sixth row -->
    <div class="row my-5">

      <!-- First column -->
      <div class="col-md-7">
        <p class="lead">
          <strong>Elara Bytebloom</strong> - Elara is a promising entry-level web developer eager to embark on a magical journey in the world of coding. Graduating with flying colors from Hogwarts, Elara has ventured into the digital realm with a passion for learning and a heart full of curiosity. Her coding adventure began with a fascination for the intersection of magic and technology, and they've quickly become proficient in the art of crafting digital spells.
        </p>
      </div>

      <!-- Second column -->
      <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1516018715772-872116d2642e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1886&q=80" alt="A woman in a white long-sleeved blouse, black work boots, and a flower crown reading an old book." class="img-fluid rounded" style="height: 600px;">
      </div>
    </div>
  </div>
</header>
