/*
  Title: contact.component.css
  Author: Erin Brady
  Date: 08/23/2023
  Description: Contact page styles
*/

.map {
  border: 4px solid black;
}

.contact {
  background-color: #e9ece5;
  border: 30px solid rgba(33, 37, 41, 1);
  padding: 50px;
}
