/*
  Title: home.component.css
  Author: Erin Brady
  Date: 08/17/2023
  Description: Custom Home styles
*/

h1 {
  text-align: center;
  padding: 10px 0;
}

.home {
  background-color: #e9ece5;
  padding: 50px;
  min-height: 50vh;
}
